<app-counter [name]="'main$'" (count$)="main$.next($event)"/>
<app-counter [name]="'first$'" (count$)="first$.next($event)"/>
<app-counter [name]="'second$'" (count$)="second$.next($event)"/>

<div class="container">
  <!-- Block One -->
  <div class="block">
    <label>combineLatest(main, first, second)</label>
    <pre><div *ngFor="let line of console1">{{ line }}</div></pre>
  </div>

  <!-- Block Two -->
  <div class="block">
    <label>main$.pipe(withLatestFrom(first$, second$)</label>
    <pre><div *ngFor="let line of console2">{{ line }}</div></pre>
  </div>

  <!-- Block Three -->
  <div class="block">
    <label>mergeAll()</label>
    <pre><div *ngFor="let line of console3">{{ line }}</div></pre>
  </div>
</div>


<router-outlet></router-outlet>
